extends includes/layout.pug

block content
  table
    tr
      td.left(valign="top")
        h1 Thank you for your interest in Alien Creations!
        p
          | This is a confirmation that we have received your request, and will be reaching
          | out to you soon to schedule a demo.
        p
          | If you have any questions, please call us at 1-800-123-4567 or simply reply to this email.
        p
          | We look forward to working with you!
        p.disclaimer
          | If you feel this was an error, please contact <a href="mailto:support@aliencreations.com">support@aliencreations.com</a>

  td.right
