extends includes/layout.pug

block content
  h1 Important Account Notice
    p
      | Your Alien Creations account is now linked to your #{tenancyTitle} context.
    p.disclaimer
      | If you feel this was an error, please contact <a href="mailto:support@aliencreations.com">support@aliencreations.com</a>
